<p>time works!</p>
<button (click)="showDate()">SHOW DATE</button><br />
<button class="circle" (click)="showTime()">SHOW TIME</button><br />
<span #date>{{ today | date }}</span>
<span #time>{{ today | date:'shortTime' }}</span>
