@mixin circle($diameter) {
  height: $diameter;
  border: black solid 1px;
  border-radius: 50%;
  width: calc(#{$diameter} - 100px);
  left: calc(100% - 10px);
}

.circle {
  @include circle(50px);
}

.pippo {
  color: blue;
}
